* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Inter', 'roboto', sans-serif;
}

:root {
    --background-color: #242424;
    --laranja: #EE620C;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden; /* Prevent horizontal scroll */
}

main {
    scroll-snap-type: y mandatory; /* Ensure snap scrolling */
}

html {
    scroll-behavior: smooth; /* Smooth scroll */
}

section {
    height: 100vh; /* Ensure each section occupies full viewport height */
    scroll-snap-align: start; /* Align sections at the start of the viewport */
}

.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.container-img {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}


.background {
    position: absolute;
    z-index: -2;
    max-width: 100%;
    left: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

dialog {
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background-color);
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.home {
    max-width: 100%;
    max-height: 100%;
    background-image: url('/img/bg-home.webp');
    background-size: cover;
}

.sobre {
    max-width: 100%;
    max-height: 100%;
    background-image: url('/img/bg-sobre.webp');
    background-size: cover;
}

.adm {
    max-width: 100%;
    max-height: 100%;
    background-image: url('/img/bg-adm.webp');
    background-size: cover;
}

.patrocinio {
    max-width: 100%;
    max-height: 100%;
    background-image: url('/img/bg-patrocinador.webp');
    background-size: cover;
}

.home, .sobre, .junte, .server, .faq, .adm, .patrocinio, .contatos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navbar */

#btn-navbar-abrir {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--laranja);
    border-radius: 12px;
    padding: 15px;
    position: fixed;
    top: 15px;
    left: 15px;
    overflow: hidden;
}

#btn-navbar-abrir span {
    background-color: #FFF;
    width: 30px;
    padding: 2px;
}

.btn-fechar {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#btn-navbar-fechar {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--laranja);
    border-radius: 12px;
    padding: 15px;
}

#btn-navbar-fechar span {
    background-color: #FFF;
    width: 30px;
    padding: 2px;
}

.navbar img {
    max-width: 200px;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar-item a {
    transition: all 0.5s ease;
}

.navbar-item a:hover {
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #151515;
}

.navbar-content {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

/* Fim da Navbar */


/* Home */

.home-content, .btns-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
}

.home-content {
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
}

.home-logo-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 400px;
}

.btns-equipe {
    max-width: 360px;
}

.btns-home a {
    transition: all 0.5s ease;
}

.btns-home a:hover {
    transform: scale(1.2);
}

.scrolls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#scroll1 {
    width: 35px;
}

#scroll2 {
    width: 25px;
}

#scroll3 {
    width: 15px;
}

.patrocinadores-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(159, 80, 31, 0.9);
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.img-pat-home {
    max-width: 70px;
}

/* Fim da Home */


/* Sobre */

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.quem-sao, .qual-objetivo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sobre-bg {
    margin-top: 400px;
}

.logo-sobre {
    max-width: 200px;
}

h2 {
    color: var(--laranja);
}

/* Fim do Sobre */

/* Junte-se */

.junte {
    height: 100vh;
    max-width: 100%;
}

.junte-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-junte-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 80%;
}

.requisitos, .oferecimentos, .divisoes, .recrutamento {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #9F501F;
    padding: 20px;
    border-radius: 12px;
    max-width: 100%;
}

.item-junte-content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.divisoes ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.discord-rec {
    background-color: var(--laranja);
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.discord-rec:hover {
    transform: scale(1.1);
}

.junte h3 {
    color: var(--laranja);
}

.recrutamento a {
    color: blue;
}

/* Fim do Junte-se */

/* Servidores */

.server-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.server-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.div-left-server {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60%;
}

.uper-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.uper-div ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lower-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-right-server {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.btn-open {
    all: unset;
    background-color: var(--laranja);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn-open:hover {
    transform: scale(1.1);
}

.modal-content-server {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: 4px solid var(--laranja);
}

.modal-content-server img {
    max-width: 400px;
}

.modal-text-server {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
    width: 400px;
    list-style: none;
}

.modal-text-server span {
    color: var(--laranja);
}

.modal-content-server button {
    all: unset;
}

.icon-fechar-modal {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.icon-fechar-modal:hover {
    transform: scale(1.3);
}

/* Fim dos Servidores */

/* F.A.Q */

.faq-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.faq-content img {
    max-width: 100%;
}

.faq-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.faq-box-questions {
    list-style: none;
    padding: 0;
}

.faq-box-questions li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.faq-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f3e3e;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
}

.faq-text img {
    max-width: 30px;
}

.faq-response {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.faq-response p {
    margin: 10px 0;
}

.faq-response ul {
    padding-left: 20px;
}

.faq-response ul li {
    list-style: none;
    margin-bottom: 10px;
}

.faq-response.show {
    max-height: 500px; /* Valor alto suficiente para acomodar o conteúdo */
    padding: 10px;
}

/* Fim do F.A.Q */

/* Equipe ADM */

.adm-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.card-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-ceo, .card-headstaff-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9F501F;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    gap: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-ceo:hover, .card-headstaff-member:hover {
    transform: scale(1.1);
}

.card-ceo img, .card-headstaff-member img {
    max-width: 170px;
    border-radius: 500px;
}

.card-headstaff {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}

.modal-content-adm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;
}

.adm dialog {
    max-width: 40%;
}

.modal-content-adm img {
    max-width: 200px;
}

.modal-text-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.modal-text-adm h3 {
    color: var(--laranja);
}

.img-card-adm {
    display: flex;
    gap: 20px;
}

.img-card-adm img {
    width: 40px;
}

/* Fim da Equipe ADM */

/* Patrocício */

.patrocinio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100vh;
}

.patrocinio-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    max-width: 100%;
}



.patrocinio-box li img {
    max-width: 100%;
}

.patrocinio-box li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f3e3e;
    padding: 10px;
    border-radius: 12px;
    gap: 20px;
    transition: all 0.5s ease;
    width: 300px;
}

.patrocinio-box li:hover {
    transform: scale(1.1);
}

.patrocinio-box li a {
    text-decoration: none;
}

.buttons-patrocinio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons-patrocinio button {
    all: unset;
    background-color: var(--laranja);
    padding: 10px;
    border-radius: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.buttons-patrocinio button:hover {
    transform: scale(1.1);
}

.patrocinio-modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.patrocinio-modal-text h3 {
    color: var(--laranja);
}

.patrocinio-modal-text ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Fim do Patrocínio */

/* Contatos */

.contatos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px;
    max-width: 900px;
    max-width: 1200px;
}

.box-contatos-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 60%;
}

.contatos-contato, .contatos-administracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;
    background-color: rgb(159, 80, 31, 0.9);
    width: 60%;
}

.headstaff, .direcao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headstaff ul, .direcao ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contatos-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hub-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(159, 80, 31, 0.9);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
}
/*
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
    }

    .home-logo-btns {
        gap: 10px;
    }

    .btns-home {
        flex-direction: column;
        padding: 20px;
    }

    .junte-content {
        height: 100vh;
    }

    .content-junte-cards {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    .modal-content-server, .modal-content-adm {
        flex-direction: column;
    }

    .patrocinio-box {
        grid-template-columns: 1fr; 
    }
}
*/

/* Responsiveness */

@media (max-width: 950px) {
    .modal-content-adm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px;
        max-width: 80%;
    }

    .modal-image img {
        max-width: 150px;
    }

    .adm dialog {
        max-width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .home, .junte, .server, .faq, .adm, .patrocinio, .contatos {
        height: auto;
        min-height: 100vh;
    }

    .background {
        max-width: 100%;
        left: 0;
    }

    .navbar-item a {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: static;
        top: auto;
        height: auto;
    }

    .modal-content-server img {
        max-width: 100px;
    }

    .navbar-content {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 100vh;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .navbar-content.active {
        display: flex;
    }

    #btn-navbar-abrir {
        display: flex;
    }

    .navbar img {
        display: none;
    }

    .btn-navbar-abrir {
        display: none;
    }

    .btn-fechar {
        display: none;
    }

    .modal-content-adm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px;
        max-width: 80%;
    }

    .modal-image img {
        max-width: 150px;
    }

    .adm-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 30px;
    }

    .home-logo-btns {
        flex-direction: column;
        gap: 10px;
    }

    .btns-home {
        flex-direction: column;
        padding: 20px;
    }

    .junte-content {
        height: auto;
    }

    .content-junte-cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .modal-content-server {
        flex-direction: column;
    }

    .patrocinio-box {
        grid-template-columns: 1fr;
    }

    .patrocinio-content {
        text-align: center;
    }

    .contatos-content {
        flex-direction: column;
    }

    .box-contatos-left {
        width: 100%;
    }

    .faq-content {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .server-divs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home, .sobre, .junte, .server, .faq, .adm, .patrocinio, .contatos {
        margin: 120px auto;
    }

    .card-headstaff {
        flex-direction: column;
        gap: 20px;
    }

    .contatos-contato, .contatos-administracao {
        width: 100%;
    }
}

@media (max-width: 500px) {
    
    .home, .sobre, .junte, .server, .faq, .adm, .patrocinio, .contatos {
        margin: 500px auto;
    }

    .junte {
        margin-top: 500px;
    }

    .box-contatos-left {
        max-width: 100%;
    }

    #discord-panel {
        width: 250px;
    }

    .buttons-patrocinio dialog {
        max-width: 80%;
        height: 100%;
    }
}