* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Inter', 'roboto', sans-serif;
}

:root {
    --background-color: #242424;
    --laranja: #EE620C;
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 70%;
    margin: 0 auto;
}


.background {
    position: absolute;
    z-index: -2;
    max-width: 100%;
    left: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

dialog {
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background-color);
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navbar */

#btn-navbar-abrir {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--laranja);
    border-radius: 12px;
    padding: 15px;
    position: fixed;
    top: 15px;
    left: 15px;
    overflow: hidden;
}

#btn-navbar-abrir span {
    background-color: #FFF;
    width: 30px;
    padding: 2px;
}

.btn-fechar {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#btn-navbar-fechar {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--laranja);
    border-radius: 12px;
    padding: 15px;
}

#btn-navbar-fechar span {
    background-color: #FFF;
    width: 30px;
    padding: 2px;
}

.navbar img {
    max-width: 200px;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar-item a {
    transition: all 0.5s ease;
}

.navbar-item a:hover {
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #151515;
}

.navbar-content {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

/* Fim da Navbar */


/* Home */

.home-content, .btns-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
}

.home-content {
    flex-direction: column;
}

.home-logo-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    max-width: 400px;
}

.btns-equipe {
    max-width: 360px;
}

.btns-home a {
    transition: all 0.5s ease;
}

.btns-home a:hover {
    transform: scale(1.2);
}

.scrolls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll {
    opacity: 30%;
    max-width: 90px;
}

.patrocinadores-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(159, 80, 31, 0.9);
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.img-pat-home {
    max-width: 70px;
}

/* Fim da Home */


/* Sobre */

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sobre-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.quem-sao, .qual-objetivo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sobre-bg {
    margin-top: 400px;
}

.logo-sobre {
    max-width: 200px;
}

h2 {
    color: var(--laranja);
}

/* Fim do Sobre */

/* Junte-se */

.junte {
    margin: 300px auto; 
    margin-top: 600px;
}

.junte-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    text-align: center;
    max-width: 100%;
}

.content-junte-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 60%;
}

.requisitos, .oferecimentos, .divisoes, .recrutamento {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #9F501F;
    padding: 30px;
    border-radius: 12px;
    max-width: 100%;
}

.item-junte-content-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.divisoes ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.discord-rec {
    background-color: var(--laranja);
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.discord-rec:hover {
    transform: scale(1.1);
}

.junte h3 {
    color: var(--laranja);
}

.recrutamento a {
    color: blue;
}

/* Fim do Junte-se */

/* Servidores */

.server-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin: 300px auto;
}

.server-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.div-left-server {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60%;
}

.uper-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.uper-div ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lower-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-right-server {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.btn-open {
    all: unset;
    background-color: var(--laranja);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn-open:hover {
    transform: scale(1.1);
}

.modal-content-server {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: 4px solid var(--laranja);
}

.modal-content-server img {
    max-width: 400px;
}

.modal-text-server {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
    width: 400px;
    list-style: none;
}

.modal-text-server span {
    color: var(--laranja);
}

.modal-content-server button {
    all: unset;
}

.icon-fechar-modal {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.icon-fechar-modal:hover {
    transform: scale(1.3);
}

/* Fim dos Servidores */

/* F.A.Q */

.faq {
    margin: 300px auto;
}

.faq-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.faq-content img {
    max-width: 100%;
}

.faq-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.faq-box-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.faq-box-questions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f3e3e;

    padding: 10px;
    border-radius: 12px;
}

.faq-box-questions li img {
    max-width: 30px;
}

/* Fim do F.A.Q */

/* Equipe ADM */

.adm {
    margin: 300px auto;
}

.adm-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.card-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-ceo, .card-headstaff-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9F501F;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    gap: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-ceo:hover, .card-headstaff-member:hover {
    transform: scale(1.1);
}

.card-ceo img, .card-headstaff-member img {
    max-width: 170px;
    border-radius: 500px;
}

.card-headstaff {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}